body {
  margin: 25px;
  background-color: #222;
    color: #ccc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-weight: 200; */
  /* font-style: normal; */
  /* color: var(--dark); */
  font-size: 50pt;
}

.emph {
  font-weight: 900;
}