#root {
  max-width: 1000px;
    min-width: 300;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shadow-ease-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.big-text {
  font-size: clamp(30pt, 8vw, 60pt);
  line-height: clamp(30pt, 8vw, 60pt);
  font-weight: 900;
}

/* .poch {} */


@media (hover) {
  .poch:hover {
    color: inherit;
    filter: drop-shadow(0 0 2em rgba(255, 218, 124, 0.6));
  }
}

.align-right {
  text-align: right;
}

