#root {
  max-width: 1200px;
    /* min-width: 300; */
  margin: 0 auto;
  padding: 1rem;
    /* Variables */
    --margin: 1rem;
    --negative-margin: -0.5rem;
    --border-width: 2px;
    --medium: #fff6;
    --subtle: #fff2;
    --radius: 1rem;
}

.big-text {
  font-size: clamp(30pt, 8vw, 60pt);
  line-height: 100%;
  font-weight: 900;
  margin-top: 0%;
  margin-bottom: 0.5lh;
}

.align-right {
  text-align: right;
}

.line-horizontal {
  height: var(--border-width);
  border-radius: var(--border-width);
  background-color: var(--medium);
}
.portfolio {
  margin-top: 3em;
}

.portfolio-item {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.portfolio-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-top: 0%;
  margin-left: var(--negative-margin);
  margin-right: var(--negative-margin);
  /* border-style: solid; */
  /* border-width: var(--border-width);
  border-color: var(--subtle);
  border-radius: var(--radius); */
  /* padding: var(--margin) */
}
/* .portfolio-column {
  min-width: 300px;
}
.portfolio-column.left {
  flex: 2;
}
.portfolio-column.right {
  flex: 1;
}

*/ .portfolio-item-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: xx-large;
}

/* .portfolio-item-title.subtitle {
  color: var(--medium);
} */

.portfolio-description {
  flex: 1;
  font-size: clamp(12pt, 2vw, 18pt);
  line-height: 115%;
  margin: 0.5rem;
  min-width: 150px;
}

/* .image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.screenshot {
  display: block;
  flex: 1;
  width: 20%;
  height: 100%;
  /* aspect-ratio: 1/2.5; */
  min-width: 150px;
  margin: 0.5rem;
}