#root {
  
    /* Variables */
    --background: #272727;
    --margin: 1rem;
    --negative-margin: -0.5rem;
    --border-width: 1px;
    --medium: #fff6;
    --subtle: #fff2;
    --radius: 1rem;
    /* Root styles */
      max-width: 1000px;
      /* min-width: 300; */
      background-color: var(--background);
      margin: 0 auto;
      width: 100%;
      padding: 1rem;
      padding-top: 0;
      font-size: clamp(12pt, 3vw, 18pt);
      line-height: 125%;
      margin-bottom: 0rem;
}

.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
    gap: 1em;
}

.tab-button {
  background: none;
  color: var(--medium);
    font-variant: small-caps;
    text-decoration: none;
}

.active {
  color: white;
}
/* .tab-button:hover {} */

/* .tab-button-title:hover {
  text-decoration: underline;
  color: white;
}

*/
.big-text {
  /* color: var(--subtle); */
  font-size: clamp(30pt, 8vw, 60pt);
  line-height: 100%;
  font-weight: 900;
  margin-top: 0em;
}

.align-right {
  text-align: right;
}

.line-horizontal {
  height: var(--border-width);
  border-radius: var(--border-width);
  background-color: var(--medium);
}
.profile {
  font-size: clamp(14pt, 3vw, 20pt);
  line-height: 125%;
  margin-bottom: 2em;
}
.section {
    align-items: center;
  margin-top: 2em;
  margin-bottom: 4em;
  /* border: solid green; */
}

.contact-info {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
  gap: 20px;
  padding: 0.5em 0;
}

.contact-icon {
  font-size: 120%;
}

.business-card {
  background-color: white;
  border-radius: 3px;
  color: black;
  font-family: Garamond, serif;
  /* aspect-ratio: 3.5/2; */
  padding: 0.25in;
}
.portfolio-item {
  margin-top: 6em;
    margin-bottom: 6em;
}

.portfolio-item-content-container {
  /* font-size: vw; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-top: 0%;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  /* border-style: solid; */
  /* border-width: var(--border-width);
  border-color: var(--subtle);
  border-radius: var(--radius); */
  /* padding: var(--margin) */
}
/* .portfolio-column {
  min-width: 300px;
}
.portfolio-column.left {
  flex: 2;
}
.portfolio-column.right {
  flex: 1;
}

*/ .portfolio-item-title {
  /* margin-top: 5rem; */
  margin-bottom: 3rem;
  /* font-size: xx-large; */
  /* text-decoration: underline */
}

/* .portfolio-item-title.subtitle {
  color: var(--medium);
} */

.portfolio-item-abstract {
  flex: 1;
  min-width: 8.5em;
  max-width: 75%;
    font-style: oblique;
}

.portfolio-item-description {
  flex: 1;
}
/* .image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.screenshot {
  display: block;
  flex: 1;
  width: 20%;
  height: 100%;
  min-width: 8.5em;
    /* filter: drop-shadow(0em 0.3em 0.2em #000f) */
    /* margin: rem; */
}